body {
    margin: 0 auto;
    position: relative;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: fixed;
    background-attachment: fixed;
    background-color: black;
}

#AllContainerPvlt
{
    margin: 0 auto;
}

#LogoContainerBGPvlt
{
     
    background-image: url("../images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; 
}

#LogoContainerPvlt
{
    background-color: black;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    position: relative;
}

#LogoContainerPvlt h1
{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Verdana;
    color: white;
    text-align: center;
    font-size: 70px;
}

#clear
{
    clear: both;
}

#NavContainerPvlt
{
    padding: 0;
    margin-bottom: 25px;
    margin-top: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
}

#NavTopPvlt
{
    display: block;
    float: left;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-right: 1px solid black;
}

#NavTopPvlt a
{
    text-decoration: none;
}

#NavContainerPvlt a:hover
{
    text-decoration: underline;
}

#LogoNavDivPvlt
{

    width: 1450px;
    margin: 0 auto;
}

#MainTopContainerPvlt
{
    padding: 0px;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    border: 1px solid black;
}

.GamesTopContainerPvlt
{
    border-radius: 12px;
    text-align: center;
    font-family: verdana;
    font-size: 15px;
    padding: 0px;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 25px;
}

#GamesTopContainerN64Pvlt
{
    background-color: rgb(175, 22, 22);
}

#GamesTopContainerPlaystationPvlt
{
    background-color: rgb(21, 21, 168);
}

#GamesTopContainerPCPvlt
{
    background-color: rgb(17, 17, 17);
}

.GamesTopContainerPvlt h1
{
    
    padding: 10px;
    margin: 0 auto;
    color: white;
}

#MainTopContainerPvlt h1
{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    color: black;
    font-family: Verdana;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}

.MainContainerPvlt
{
    display: block;
    margin-top: 0px;
    margin-bottom: 45px;
    padding-top: 35px;
    height: 365px;
    padding-left: 50px;
    background-color: rgba(0,0,0,0.94);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Verdana;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 50px;
}

#MainDefContainerPvlt
{
    background-color: rgba(0,0,0,0.94);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin-top: 0px;
    margin-bottom: 45px;
    padding-top: 35px;
    height: 100%;
    padding-left: 50px;
    color: white;
    font-family: Verdana;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 50px;
    padding-bottom: 35px;
}

#MainDivPvlt
{
    margin: 0 auto;
    width: 1450px;
}

.NavDivPvlt
{
    float: left;
    width: 400px;
    background-color: rgb(7, 63, 80);
    margin-right: 125px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}

.NavDivPvlt h1
{
    color: white;
    font-family: Verdana;
    font-size: 20px;
    text-decoration: none;
}

#NavPlaystationPvlt
{
    background-color: rgb(21, 21, 168);
}

#NavPlaystationPvlt:hover
{
    background-color: rgb(27, 27, 211);
}

#NavN64Pvlt
{
    background-color: rgb(175, 22, 22);
}

#NavN64Pvlt:hover
{
    background-color: rgb(212, 26, 26);
}

#NavPCPvlt
{
    background-color: green;
    background-color: rgb(17, 17, 17);
}

#NavPCPvlt:hover
{
    background-color: rgb(1, 184, 1);
    background-color: rgb(39, 39, 39);
}

#NavTopPvlt a
{
    color: black;
    font-family: Verdana;
    font-weight: bold;
}

.lastNav
{
    float: right;
    margin-right: 0px;
}

#BottomContainerPvlt
{
    background-color: black;
    margin: 0 auto;
    /*! display: inline-block; */
    position: fixed;
    bottom: 0;
    width: 76%;
    padding: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    left: 12%;
}

#BottomNavContainerPvlt
{
    margin-bottom: 50px;
    margin-top: 70px;
}

#BottomContainerPvlt h1
{
    color: white;
    font-family: Verdana;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

#ProductsContainerPvlt
{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#GamesContainerPvlt
{
    
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

#ProductPricePvlt 
{
    color: #000;
    width: 99.7%;
    font-size: 21px;
    font-family: Verdana;
    margin: 0 auto;
    text-align: center;
}

.ProductItemPvlt
{
    width: calc(25% - 15px);
    height: 361px;
    position: relative;
    background-color:white;
    float: left;
    margin-right: 17px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.ProductTitlePvlt
{
    background-color: #c30000;
    display: inline;
    text-align: center;
    height: 23px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

.ProductItemPvlt:nth-child(4n + 4)
{
    margin-right: 0px;
}

.GameHeader
{
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    z-index: 10;
    width: 100%;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.GameHeaderDivPvlt
{
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    margin: 0 auto;
    background-color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    color: white;
}

#GameHeaderOne
{
    background-color: rgb(175, 22, 22);
}

#GameHeaderTwo
{
    background-color: rgb(21, 21, 168);
}

#GameHeaderThree
{
    background-color: green;
    background-color: rgb(22, 22, 22);
}

#ProductBGPvlt
{
    display: block;
    height: 90%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#PriceDiv
{
    position: absolute;
    width: 100%;
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    height: 10%;
}

#PriceDiv h3
{
    background-color: #fff;
    color:black;
    width: 81.5%;
    font-size: 17px;
    font-family: Verdana;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 25%;
    left: 0px;
}

#ImgOrderPvlt
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36px;
}

#ImgOrderPvlt:hover
{
    opacity: 0.8;
}

#CartTablePvlt
{
    width: 100%;
    padding:0;
    text-align: center;
}

#CartTablePvlt td
{
    padding: 10px;
}

.TableImgPvlt
{
    max-width: 30px;
}

.TableImgPvlt img
{
    width: 100%;
    border: 1px solid white;
}

.TableDescPvlt
{
    max-width: 10px;
}

.TableGamePvlt
{
    max-width: 30px;
}

.TablePricePvlt
{
    max-width: 10px;
}

#TableOrderPvlt
{
    width: 24%;
    border-radius: 7px;
    font-size: 13px;
    border: 2px solid rgb(37, 37, 37);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 0 auto;
}

#TableOrderPvlt:hover
{
    background-color: rgb(236, 236, 236);
}

#orderImgPvlt
{
    width: 50%;
}

.TableQuantPvlt
{
    width: 25%;
}